@charset "utf-8";
@import url('fonts.css');

/*
FONTS DISPONIVEIS

*/
*{margin:0;padding:0;text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input{margin:0 auto;padding:0;list-style:none;outline:none;border:none;letter-spacing: 0;}
.top5{margin-top:5px;}
.top7{margin-top:7px;}
.top8{margin-top:8px;}
.top10{margin-top:10px !important;}
.top15{margin-top:15px !important;}
.top20{margin-top:20px !important;}
.top25{margin-top:25px !important;}
.top30{margin-top:30px !important;}
.top35{margin-top:35px !important;}
.top40{margin-top:40px !important;}
.top45{margin-top:45px !important;}
.top50{margin-top:50px !important;}
.top55{margin-top:55px !important;}
.top60{margin-top:60px !important;}
.top65{margin-top:65px !important;}
.top70{margin-top:70px !important;}
.top75{margin-top:75px !important;}
.top80{margin-top:80px !important;}
.top85{margin-top:85px !important;}
.top90{margin-top:90px !important;}
.top100{margin-top:100px !important;}
.top105{margin-top:105px !important;}
.top115{margin-top:115px !important;}
.top120{margin-top:120px !important;}
.top125{margin-top:125px !important;}
.top130{margin-top:130px !important;}
.top145{margin-top:145px !important;}
.top150{margin-top:150px !important;}
.top160{margin-top:160px !important;}
.top170{margin-top:170px !important;}
.top180{margin-top:180px !important;}
.top200{margin-top:200px !important;}
.top220{margin-top:220px !important;}
.top265{margin-top:265px !important;}
.top195{margin-top:195px !important;}
.top205{margin-top:205px !important;}
.top210{margin-top:210px !important;}
.top235{margin-top:235px !important;}
.top255{margin-top:255px !important;}
.top285{margin-top:285px !important;}
.top290{margin-top:290px !important;}
.top350{margin-top:350px !important;}
.top380{margin-top:380px !important;}
.top395{margin-top:395px !important;}
.top450{margin-top:450px !important;}


.bottom5{margin-bottom:5px !important;}
.bottom10{margin-bottom:10px !important;}
.bottom15{margin-bottom:15px !important;}
.bottom20{margin-bottom:20px !important;}
.bottom25{margin-bottom:25px !important;}
.bottom30{margin-bottom:30px !important;}
.bottom35{margin-bottom:35px !important;}
.bottom40{margin-bottom:40px !important;}
.bottom45{margin-bottom:45px !important;}
.bottom50{margin-bottom:50px !important;}
.bottom55{margin-bottom:55px !important;}
.bottom60{margin-bottom:60px !important;}
.bottom60{margin-bottom:60px !important;}
.bottom65{margin-bottom:65px !important;}
.bottom70{margin-bottom:70px !important;}
.bottom75{margin-bottom:75px !important;}
.bottom80{margin-bottom:80px !important;}
.bottom90{margin-bottom:90px !important;}
.bottom100{margin-bottom:100px !important;}
.bottom120{margin-bottom:120px !important;}
.bottom130{margin-bottom:130px !important;}
.bottom135{margin-bottom:135px !important;}
.bottom140{margin-bottom:140px !important;}
.bottom150{margin-bottom:150px !important;}

.bottom180{margin-bottom:180px !important;}
.bottom200{margin-bottom:200px !important;}
.bottom220{margin-bottom:220px !important;}
.bottom280{margin-bottom:280px !important;}


.left5{margin-left:5px;}
.left10{margin-left:10px;}
.left15{margin-left:15px;}
.left20{margin-left:20px;}
.left25{margin-left:25px;}
.left30{margin-left:30px;}
.left35{margin-left:35px;}
.left40{margin-left:40px;}
.left45{margin-left:45px;}
.left50{margin-left:50px;}
.left55{margin-left:55px;}
.left60{margin-left:60px;}
.left65{margin-left:65px;}
.left70{margin-left:70px;}
.left75{margin-left:75px;}
.left80{margin-left:80px;}
.left81{margin-left:81px;}
.left130{margin-left:130px;}
.left270{margin-left:270px;}
.right5{margin-right:5px;}
.right10{margin-right:10px;}
.right15{margin-right:15px;}
.right20{margin-right:20px;}
.right22{margin-right:22px;}
.right25{margin-right:25px;}
.right30{margin-right:30px;}
.right35{margin-right:35px;}
.right40{margin-right:40px;}
.right45{margin-right:45px;}
.right50{margin-right:50px;}
.right55{margin-right:55px;}
.right60{margin-right:60px;}
.right65{margin-right:65px;}
.right70{margin-right:70px;}
.right75{margin-right:75px;}
.right80{margin-right:80px;}
.right90{margin-right:90px;}
.right100{margin-right:100px;}
.right130{margin-right:130px;}

.pt0{padding-top:0px;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pt45{padding-top:45px;}
.pt50{padding-top:50px;}
.pt60{padding-top:60px;}
.pt80{padding-top:80px;}
.pt100{padding-top:100px;}
.pt130{padding-top:130px;}
.pt300{padding-top:300px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl40{padding-left:40px;}
.pl45{padding-left:45px;}
.pl50{padding-left:50px;}
.pl60{padding-left:60px;}
.pl80{padding-left:80px;}
.pl100{padding-left:100px;}
.pl300{padding-left:300px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr40{padding-right:40px;}
.pr45{padding-right:45px;}
.pr50{padding-right:50px;}
.pr60{padding-right:60px;}
.pr80{padding-right:80px;}
.pr100{padding-right:100px;}
.pr300{padding-right:300px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb25{padding-bottom:25px;}
.pb30{padding-bottom:30px;}
.pb40{padding-bottom:40px;}
.pb50{padding-bottom:50px;}
.pb60{padding-bottom:60px;}
.pb80{padding-bottom:80px;}
.pb100{padding-bottom:100px;}
.pb200{padding-bottom:200px;}
.pb280{padding-bottom:280px;}
.pb300{padding-bottom:300px;}


/* ============= OFFSET COLUNAS ============= */
.col-offset-1{margin-left: 8.33%;}
.col-offset-2{margin-left: 16.66%;}
.col-offset-3{margin-left: 25%;}
.col-offset-4{margin-left: 33.33%;}
.col-offset-5{margin-left: 41.66%;}
.col-offset-6{margin-left: 50%;}
.col-offset-7{margin-left: 58.33%;}
.col-offset-8{margin-left: 66.66%;}
.col-offset-9{margin-left: 75%;}
.col-offset-10{margin-left: 83.33%;}
.col-offset-11{margin-left: 91.66%;}
.col-offset-12{margin-left: 100%;}

.pr0{padding-right:0;}
.pr5{padding-right:5px;}
.pl0{padding-left:0;}
.pl5{padding-left:5px;}
.pg5{padding: 10px;}
.pg10{padding: 10px;}
.pg20{padding: 20px;}

.container{width:1170px !important;}

body{font-family: 'Open Sans', sans-serif;font-weight: 400 !important;color: #000 !important;}


@mixin clearfix() {
	&::after {
		display: block;
		content: "";
		clear: both;
	}
}

.element {
	@include clearfix;
}

h1{
	font-size: 1rem /* 16/16 */;
	font-weight: 400;
	color: #121111;
	font-weight: 500;
}

h1 span {
	color: #083dad;
	font-size: 1.88rem /* 30/16 */;
	font-weight: 700;
	letter-spacing: -2px;
	line-height: 2.19rem /* 35/16 */;
	font-family: 'Montserrat', sans-serif;
}

h2 {
	font-size: .88rem /* 14/16 */;
	color: #fff;
	letter-spacing: -1px;
}

h2 span{
	font-size: 1.13rem /* 18/16 */;
	font-weight: 700;
}


h3{
	color: #083dad;
	font-size: 1.13rem /* 18/16 */;
	line-height: 1.56rem /* 25/16 */;
	letter-spacing: -1px;
	font-weight: 700;
}

h3 span{
	color: #121111;
	font-weight: 500;
	line-height: 1.13rem /* 18/16 */;
}

h4 {
	color: #083dad;
	font-size: 2.5rem /* 40/16 */;
	line-height: 2.69rem /* 43/16 */;
	letter-spacing: -1px;
	font-weight: 800;
}

h4 span{
	font-size: 1.13rem /* 18/16 */;
	line-height: 1.25rem /* 20/16 */;
}



h5 {
	color: #3351c3;
	font-size: 1.13rem /* 18/16 */;
	letter-spacing: -1px;
	font-weight: 400;
}

h5 span{
	font-weight: 700;
}

h6{
	font-size: 1.5rem /* 24/16 */;
	color: #fff;
	font-weight: 700;

}

h6 span{


}



p{
	font-size: 1.56rem /* 25/16 */ ;
	color: #000;
	text-align:justify;
	font-weight: 300;
	line-height: 1.88rem /* 30/16 */;
}

p span{
	color: #fff;
	font-weight: 400;

}

object[type*='application/gas-events'] { display: none; }

.mont{font-family: 'Montserrat', sans-serif;}

.ui-datepicker table {
	font-size: .94rem /* 15/16 */!important;
}

.media {
	align-items: center;
}

.icon_form .fa{
	position: absolute;
	left: 22px;
	top: 16px;
}

.scrol_empresa{
	overflow-y:  auto;
	height: 275px;
}

.jspVerticalBar {
	width: 8px !important;
}

.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .help-block,
.has-error .radio,
.has-error .radio-inline,
.has-error.checkbox label,
.has-error.checkbox-inline label,
.has-error.radio label,
.has-error.radio-inline label {
	color: #a94442;
}

.class-404 h1{
	font-size: 40px;
	color: #000;
}

.has-error .form-control {
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.has-error .form-control-feedback {
	color: #a94442;
}

.has-success .form-control-feedback {
	color: #3c763d;
}
.topo-site {
	position: absolute;
	top: 0px;
	z-index: 100;
	width: 100%;
}

.btn{
	border-radius: 0;
}
a:hover{
	text-decoration: none;
}

.relativo{
	position: relative;
}

input,
select,
textarea{
	min-height: 50px;
	color:#000;
	border-radius: 0 !important;
	font-size: 20px;
	font-weight: 400;
}


::-webkit-input-placeholder {
	color      : #000;
	font-family: 'Lato', sans-serif;
	font-family: 400;
	font-size  : 13px;
}

:-moz-placeholder {
	color      : #000;
	font-family: 'Lato', sans-serif;
	font-family: 400;
	font-size  : 13px;
}

::-moz-placeholder {
	color      : #000;
	font-family: 'Lato', sans-serif;
	font-family: 400;
	font-size  : 13px;
}

:-ms-input-placeholder {
	color      : #000;
	font-family: 'Lato', sans-serif;
	font-family: 400;
	font-size  : 13px;
}

.padding0{
	padding: 0px !important;
}

.lato{font-family: 'Lato', sans-serif;}

/*==================================================
* COLOBOX PERSONALIZADO GROUPO4
* ===============================================*/
#cboxContent {background: none !important;}
#cboxMiddleLeft,#cboxMiddleRight,#cboxTopCenter,#cboxBottomLeft,#cboxTopLeft,#cboxTopRight,#cboxBottomCenter,#cboxBottomRight {width: 0 !important;background: none !important;}
#cboxSlideshow {color: #fff !important;}
#cboxPrevious{left: 28px!important;}
#cboxNext{left: 56px!important;}
#cboxCurrent{left: 90px !important;}
#cboxClose{right: 28px !important;}
#cboxSlideshow{right: 60px !important;}
/*==================================================
* COLOBOX PERSONALIZADO GROUPO4
* ===============================================*/

/**
============================================
TOPO
============================================
*/

.bg_topo {
	background: url(../imgs/bg_topo.png) top center no-repeat;
	height: 123px;
	width: 100%;
	position: absolute;
	margin-left: -50%;
	top: 0px;
	left: 50%;
}

.btn_drop{
	background: none;
	border: 2px solid #fff;
	color: #fff;
	font-size: .75rem /* 12/16 */;
	font-weight: 700;
}

.contatos_topo p{
	font-size: .75rem /* 12/16 */;
	font-weight: 400;
	color: #fff;
	line-height: .94rem /* 15/16 */;
}

.menu .navbar-nav{
	flex-direction: inherit;
}

.menu .navbar-nav   li   a{
	margin-left: .94rem /* 15/16 */;
	line-height: 45px;
	padding: 3px 2px;
	font-size: 16px;
	color: #000;
	border-radius: 0;
	font-weight: 400;
	letter-spacing: -1px;
}

.menu .nav li a:hover,
.menu .nav li a:focus,
.menu .nav li a.active {
	border-radius: 5px;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
	color: #083dad;
	border-bottom: 6px solid #083dad;
	border-radius: 0;
	-webkit-transition:200ms ease;
	-moz-transition:200ms ease;
	-o-transition:200ms ease;
	transition:200ms ease;
}




.topo-meu-orcamento{
	width:470px !important;
	margin-left: -202px;
	padding:15px;
}


.lista-itens-carrinho{
	margin: 10px 0px;
	overflow: hidden;
	border-bottom: 2px solid #e5e5e5;
	margin-bottom: 20px;
}

.lista-itens-carrinho h1{
	font-size: 14px !important;
	margin: inherit;
	color: #252525;
}

.menu .btn_orcamento{
	color: #fff!important;
	background: #3356bf !important;
	border: 0!important;
	margin: 0 !important;
	padding: .5rem .75rem !important;
	line-height: normal !important;

}

.menu .btn_orcamento:hover{
	color: #fff !important;
	background: #344a8e !important;
}



/**
============================================
TOPO
============================================
*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- BANNER  ------------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#container_banner {
	width   :100%;
	height  :391px;
	margin  :0px auto;
	overflow:hidden;
	position: relative;
	margin-top: 123px;
	z-index: 1;
}

#content_slider {
	width      :1920px;
	position   :absolute;
	margin-left:-960px;
	top        :0px;
	left       :50%;
}


#content-slider-1 .rsContent{
	height: 100px;
	position: absolute;
	z-index: 1000;
	top: 100px;
}

#content-slider-1 .rsContent h1{
	font-size: 40px;
	color: #fff;
	text-shadow: 2px 1px 2px rgba(0, 0, 0, 1);
}

#content-slider-1 .rsTabs {
	width: 162px;
	height: 30px;
	z-index: 9999;
	position: absolute;
	left: 469px;
	top: 465px;
	text-shadow: -4px -3px 2px rgba(0, 0, 0, 0.76);
}

#content-slider-1 .rsNavItem {
	background   : #2a2a57;
	width        :30px;/*setas*/
	opacity      : 0.4;
	height       : 30px;/*setas*/
	float        : left;
	margin-right : 10px;
	cursor       : pointer;
	border-radius: 50%;
	box-shadow: -2px 2px rgba(0,0,0,0.6);
	-moz-box-shadow: -2px 2px rgba(0,0,0,0.6);
	-webkit-box-shadow: -2px 2px rgba(0,0,0,0.6);
	-o-box-shadow: -2px 2px rgba(0,0,0,0.6);
}

#content-slider-1 .rsNavSelected {
	opacity  : 1;
	background: #2a2a57;
	box-shadow: -2px 2px rgba(0,0,0,0.6);
	-moz-box-shadow: -2px 2px rgba(0,0,0,0.6);
	-webkit-box-shadow: -2px 2px rgba(0,0,0,0.6);
	-o-box-shadow: -2px 2px rgba(0,0,0,0.6);
}


/*arrow personalizados*/
#container_banner .rsArrowLeft {
	display: block;
	width: 0px;
	height: 0px;
	background: url(../imgs/arrow_left.png) center no-repeat;
	z-index: 999;
	bottom:244px;
	position: absolute;
	left: 410px;
}

#container_banner .rsArrowRight {
	display: block;
	width:0px;
	height:0px;
	background: url(../imgs/arrow_right.png) center no-repeat;
	z-index: 999;
	bottom:244px;
	position: absolute;
	right: 1244px;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- BANNER  ---------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/**/


/**
============================================
rodape
============================================
*/
.scrollup{width:65px;height:65px;position:fixed;bottom:50px;left:30px;display:none;text-indent:-9999px;background:url(../imgs/seta_up02.png) no-repeat;z-index:9999;}

.rodape{
	background : #f6f6f6;
}

.rodape-preto{
	background :#626262;
}

.redes a {
	color: #2c2c2c;
}

.endereco_rodape b{
	color: #414140;
	font-size: .75rem /* 12/16 */;
}

.endereco_rodape h1{
	font-size: 1.13rem /* 18/16 */;
	color: #083dad;
	font-weight: 700;
}

.redes a:hover{
	color: #444343;
}

.menu_rodape .nav-link,.categorias_rodape .nav-link{
	color: #414140;
	font-weight: 400;
	padding: 4px 0;
	font-size: 14px;
}

.menu_rodape .nav-link:hover,
.menu_rodape .nav-link.active ,
.categorias_rodape .nav-link:hover{
	color: #6a519a;
}
.endereco_rodape p{
	font-weight: 700;
	font-size: 14px;
	color: #414140;
}

.rodape-preto h5{
	font-size: 1.13rem /* 18/16 */;
	color: #fff;
	font-weight: 300;
}

/**
============================================
rodape
============================================
*/

/**
============================================
HOME
============================================
*/
.bg_sustentabilidade{
	background: url(../imgs/bg_sustetabilidade.jpg)top center no-repeat;
}

.bg_sustentabilidade p{
	color: #4a76f6;
	font-weight: 400;
	font-size: 1.13rem /* 18/16 */;
	letter-spacing: -1px;
	line-height: 1.5rem /* 24/16 */;

}
.bg_sustentabilidade .desc_empresa_home{
	overflow: hidden;
	height: 171px;
}

.saiba_mais_emp{
	color: #083dad;
	font-size: 1rem /* 16/16 */;
	letter-spacing: -1px;
	line-height: 20px;
	font-weight: 600;
}

.bg_branco{background: #fff;}
.bg_branco_claro{background: #fafbfd;}

.bg_empresa_servicos{
	background: url(../imgs/bg_empresa_servicos.jpg)top center no-repeat;
}

.bg_empresa_servicos p{
	font-weight: 400;
	font-size: 1.13rem /* 18/16 */;
	letter-spacing: -1px;
	line-height: 1.5rem /* 24/16 */;

}

.bg_empresa_servicos h4,.bg_empresa_servicos h4 span{color: #fff;}
.bg_empresa_servicos .desc_empresa_home{
	overflow: hidden;
	height: 243px;
}

.saiba_mais_conj{
	color: #fff;
	font-size: 1rem /* 16/16 */;
	letter-spacing: -1px;
	line-height: 20px;
	font-weight: 600;
}

.btn_saiba_mais_conj{
	background: #083dad;
	font-size: .69rem /* 11/16 */;
	color: #fff;
	font-weight: 700;
	letter-spacing: 1px;
}

.btn_saiba_mais_conj:hover{
	background: #cecece;
	font-size: .69rem /* 11/16 */;
	color: #083dad;
	font-weight: 700;
	letter-spacing: 1px;
}

.btn_saiba_mais{
	background: #fff;
	font-size: .69rem /* 11/16 */;
	color: #083dad;
	font-weight: 700;
	margin-top: .94rem /* 15/16 */;
}

.btn_saiba_mais:hover{
	background: #083dad;
	color: #fff;
}


.bg_empresa_servicos .desc_conj{
	overflow: hidden;
	height: 75px;
}

.bg_empresa_servicos .desc_conj p{
	font-size: 1rem /* 16/16 */;
}

.titulo_servicos_home{
	overflow: hidden;
	height: 26px;
}

.lista-produtos-index ul {
	border: 0;
	background: #626262;
}

.lista-produtos-index .nav-item {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: -1px;
}

.lista-produtos-index .nav-link {
	background: #626262 url(../imgs/barra_vertical.png)right no-repeat;
	color: #fff;
	border: 0;
	font-size: 16px;
	border-radius: 0;
	border: 0;
	padding: 14px 30px;
}

.lista-produtos-index .nav-link.active,
.lista-produtos-index .nav-link:hover,
.lista-produtos-index .nav-link:focus {
	background: #ffffff;
	color: #626262;
	border: 0;
	font-size: 16px;
	padding: 14px 30px;
}

.menu_produtos_home{
	background: #626262;
	height: 4.75rem /* 76/16 */;
}

.btn_todos{
	background: #fff;
	color: #626262;
	font-size: .69rem /* 11/16 */;
}

.desc_titulo_home{
	overflow: hidden;
	height: 17px;
}

.btn_produtos_home{
	margin-top: 16px;
	padding: 0;
}

.carroucel_produtos .card-body{
	background: #d6d6d7;
	margin-top: .31rem /* 5/16 */;

}

.bg_produtos_home h1{
	line-height: 1.13rem /* 18/16 */;
	letter-spacing: -1px;
}

.carroucel_produtos .card{
	border: 0;
}

.carroucel_produtos img:hover{opacity: .8;}
/**
============================================
HOME
============================================
*/

/**
============================================
EMPRESA
============================================
*/

.bg_cinza{background: #626262;}

.btn_orcamento_empresa{margin: 3px 0;padding: .3rem .75rem;background: #083dad;font-size: .88rem /* 14/16 */;color: #fff;font-weight: 700;}
.breadcrumb {
	padding: .5rem 1rem;
	margin: 0;
	list-style: none;
	background: none;
	border-radius: .25rem;
}


.breadcrumb-item,.breadcrumb-item a{
	color: #fff;
	font-size: .69rem /* 11/16 */;
	font-family: 'Montserrat', sans-serif;
}

.breadcrumb-item:hover,.breadcrumb-item a:hover {
	color: #083dad;
	font-size: .69rem /* 11/16 */;
	font-family: 'Montserrat', sans-serif;
}
.breadcrumb-item.active{
	color: #fff;
	font-size: .69rem /* 11/16 */;
	font-family: 'Montserrat', sans-serif;
}

.bg_empresa_geral{
	background: #fafbfd url(../imgs/bg_empresa_geral01.jpg)top center no-repeat;
	min-height: 29.63rem /* 474/16 */;
}

.bg_empresa_geral p{
	color: #201f1f;
	font-weight: 400;
	font-size: 1.13rem /* 18/16 */;
	letter-spacing: -1px;
	line-height: 1.5rem /* 24/16 */;

}
.bg_empresa_geral .desc_empresa_home{
	overflow: hidden;
	height: 171px;
}

.bg_empresa_geral h4, .bg_empresa_geral h4 span {
	color: #fff;
}

.bg_sustentabilidade1{
	background: #fafbfd url(../imgs/bg_empresa_geral02.jpg)top center no-repeat;
	min-height:28.75rem /* 460/16 */;
}

.bg_sustentabilidade1 p{
	color: #4a76f6;
	font-weight: 400;
	font-size: 1.13rem /* 18/16 */;
	letter-spacing: -1px;
	line-height: 1.5rem /* 24/16 */;

}
.bg_sustentabilidade1 .desc_empresa_home{
	overflow: hidden;
	height: 171px;
}
/**
============================================
EMPRESA
============================================
*/


/**
============================================
SERVIÇOS
============================================
*/
.bg_servicos{
	background: #fafbfd url(../imgs/bg_servicos_geral.jpg)top center no-repeat;
	min-height: 30rem /* 480/16 */;
}

.bg_servicos p{
	font-weight: 400;
	font-size: 1rem /* 16/16 */;
	letter-spacing: -1px;
	line-height: 1.5rem /* 24/16 */;

}

.bg_servicos h4,.bg_servicos h4 span{color: #fff;}
.bg_servicos .desc_conj{
	overflow: hidden;
	height: 75px;
}

.bg_servicos h3 span{font-size: 1rem /* 16/16 */;}
.titulo_paginas h1{color: #0c2fbd;font-size: 1.5rem /* 24/16 */;font-weight: 400;}
.titulo_paginas h1 span{font-size: 1.5rem /* 24/16 */;font-weight: 700;}

.bg_veja{
	background: /*#fafbfd*/ url(../imgs/barra_right.png) top center no-repeat;
	height: 2rem /* 32/16 */;
	width: 100%;
	position: absolute;
	margin-right: -50%;
	top: 0px;
	right: 50%;
}





.bg_veja1{
	background: url(../imgs/barra_left.png)  no-repeat;
	height: 1.75rem /* 28/16 */;
    width: 1170px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -969px;
}

.bg_servico{background: #fafbfd url(../imgs/bg_servico_dentro.jpg)top center no-repeat;
	min-height: 33.5rem /* 536/16 */;
}

.servico_Dentro h1 span{font-size:1.5rem /* 24/16 */; }
.servico_Dentro p{font-size: 1.13rem /* 18/16 */;color: #0c2fbd;font-weight: 500;}
.btn_orcamento_servico {
	background: #083dad;
	font-size: 1rem /* 16/16 */;
	color: #fff;
	font-weight: 700;
	letter-spacing: 1px;
}
/**
============================================
SERVIÇOS
============================================
*/

/**
============================================
PRODUTOS
============================================
*/
.slider_prod_geral .flexslider {
	margin: 0px;
	margin-top: 1.25rem;
	background: none;
	border: 0;
	z-index: 9;
}

.slider_prod_geral .slider-prod li img:hover {
	cursor: -webkit-zoom-in;
}

#carousel .flex-active-slide img {
	opacity: 1;
	cursor: default;
}

#carousel img {
	display: block;
	opacity: .5;
	cursor: pointer;
}

.slider_prod_geral .slider-prod-tumb li img:hover,
.slider_prod_geral .slider-prod-tumb li .active img{
	opacity: .7;
	border: 1px solid #001d33;
}

.slider-prod-tumb img{
	height: 80px !important;
}

.zomm{
	position: absolute;
	background: url(../imgs/zoom3.png)no-repeat;
	width: 142px;
	height: 56px;
	bottom: 0;
	left: 0px;
	z-index: 99;
}

.produto_dentro .slider_prod_geral .imagem_default img{
	height: 400px !important;
	width: 100%;
}


.menu_lateral .list-group{
	background: none;
	margin-top: .19rem /* 3/16 */;
}

.menu_lateral .list-group-item {
	background-color: #fff;
	border:  0;
	padding: 13px 1.25rem;
	color: #252525;
	font-size: 16px;
	font-weight: 500;
	border-radius: 0;
	margin-bottom: 5px;
}


.menu_lateral .list-group-item.active{
	z-index: 2;
	color: #fff;
	background-color: #083dad ;
}

.menu_lateral .list-group-item:hover {
	z-index: 2;
	color: #fff;
	background-color: #1d3985;
}

.font-weight-bold{color: #083dad;}
.bg_categoria{background: url(../imgs/barra_categoria1.png) top center no-repeat;
}
/**
============================================
PRODUTOS
============================================
*/


/**
============================================
FALE CONOSCO
============================================
*/
.btn_formulario{
	border-radius: 0;
	font-size:16px;
	color: #FFF;
	padding: 10px 20px;
	background: #083dad;
	font-weight: 400;
	cursor: pointer;
}

.btn_formulario_orcamento{
	border-radius: 0;
	font-size: 30px;
	color: #fff;
	padding: 15px 30px;
	background: #001d33;
	font-weight: 700;
	cursor: pointer;
}

.btn_topo{
	cursor: pointer;
	margin-top: -5px;
}


.btn_topo_orcamento{
	border-radius: 0;
	font-size: 15px;
	color: #fff;
	padding: 5px 15px;
	background: #002953;
}

.btn_formulario:hover,
.btn_topo_orcamento:hover,
.btn_formulario_orcamento:hover{
	color: #fff;
	background: #cecece;
}

.fundo-form{
	border: 0 !important;
	border-bottom:  1px solid #a0a0a0 !important;
	padding: .5rem 3.06rem;
	background: #fff !important;
}

.fundo-form1{
	border: 0 !important;
	border:  1px solid #a0a0a0 !important;
	padding: .5rem 3.06rem;
	background: #fff !important;
}

.bg_contatos {
	background: #fafbfd url(../imgs/bg_contato_geral1.jpg)top center no-repeat;
	min-height: 33.75rem /* 540/16 */;
}

.onde_estamos{
	position: absolute;
	bottom: 0;
	right: 50%;
}

.bg_veja3{background: #fafbfd url(../imgs/barra_contatos.png) no-repeat;
	height: 1.75rem /* 28/16 */;
	width: 950px;
	position: absolute;
	bottom: 12px;
	right: 50%;
	margin-right: -50%;
}
/**
============================================
FALE CONOSCO
============================================
*/


/**
============================================
ORCAMENTOS
============================================
*/
.tabela_carrinho thead th{background:#d41f2b;padding:10px 5px;}
.tabela_carrinho table{font-size:20px;color:#000;font-weight:400; height: 100px;}
.tabela_carrinho .table>tbody>tr>td,.tabela_carrinho .table>thead>tr>th{font-size: 14px;vertical-align:middle;border-bottom:1px solid #0e714b;padding:10px 5px;}
.fa-times-circle::before{
	color:#474747;
}

.tabela_carrinho h3{
	color: #0c2fbd;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 20px;
	/*text-shadow:1px 2px 5px #0f0f0f;*/
}

.fundo_formulario h3{
	color: #626262;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 20px;
	/*text-shadow:1px 2px 5px #0f0f0f;*/
}

.bg_orcamento{
	background: #fafbfd url(../imgs/bg_orcamento_geral.jpg) no-repeat;
	height: 37.44rem /* 599/16 */;
}


.input-lista-prod-orcamentos {
	width: 40px;
	min-height: 36px !important;
	text-align: center;
	background: #3356bf;
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 13px;
}

.icon_form select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: window;
}
/**
============================================
ORCAMENTOS
============================================
*/

.carroucel_produtos .flex-direction-nav a {

	width: 30px;
	margin: -20px 54px 0;

}

.btn_azul{
	border: 0 !important;
	color: #fff !important;
}

.btn_azul:hover{
	border: 0 !important;
}
