/* =============== EMPRESA =============== */

.localizacao-pagina {
    height: 6.75rem /* 108/16 */;
    padding-top:2.31rem /* 37/16 */;
}



/* =====================================================  */
/*  MUDA A COR DO BOTAO AO CLICAR PARA ENVIAR A MENSAGEM  */
/* =====================================================  */
button:disabled,
button[disabled]{
  background-color: #64567b;
  color: #fff;
}



.mont{font-family: 'Montserrat', sans-serif;}

.bg_empresa {
  height: 140px;
  width: auto;
  background:url(../imgs/arvore.png) right top no-repeat;
  left: 0;
}

.btn_ligue{
  background: #083dad;
  font-size: 1.06rem /* 17/16 */;
  color: #fff;
  font-weight: 700;
}

.btn_agora{
  background: #083dad;
  font-size:.63rem /* 10/16 */;
  color: #fff;
  font-weight: 700;
  /*padding: 8px 12px;*/
  font-family: 'Open Sans', sans-serif;
}

.btn_orcamento{
  background: #3f66b9;
  padding:6px 0;
}

.numero{
  background: none;
  color: #083dad;
}

.bg_branco_borde{
  background: #fff;
  border-bottom: 1px solid #083dad;
  margin-top: 2px;
}

.bg_empresa h1{
font-size: 1.13rem /* 18/16 */;
font-weight: 700;
color: #2d2d2d;
letter-spacing: -1px;
margin: 25px 0;
}

.bg_servicos{
  position: relative;
}

.bg_servicos p {
    font-weight: 400;
    font-size:.63rem /* 10/16 */;
    line-height: .88rem /* 14/16 */;
}

.bg_servicos .desc_conj {
    overflow: hidden;
    height: 43px;
}

.btn_saiba_mais_conj {
    background: #083dad;
    font-size: .69rem /* 11/16 */;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
}

.onde{
  position: absolute;
  top: -2.81rem /* -45/16 */;
  z-index: 99;
}

.bg_cinza_claro {background: # #f6f5f5;}

.carroucel_produtos .card-body{
	background: #d6d6d7;
}
.bg_produtos_home h1{
	line-height: .75rem /* 12/16 */;
}
.carroucel_produtos .card{
	border: 0;
}

.carroucel_produtos img:hover{opacity: .8;}

.btn_saiba_mais {
    background: #fff;
    font-size: .56rem /* 9/16 */;
    color: #083dad;
    padding: 5px 6px;
    font-weight: 700;
    margin-top: 10px;
}

.btn_produtos_home {
    margin-top: .63rem /* 10/16 */;
    padding: 0;
    background: #083dad;
    color: #fcfdfe;
    padding: 0 5px;
}
.desc_titulo_home {
    overflow: hidden;
    height: 12px;
}

.input-form{height: 3.19rem; background: #fff; border: 1px solid #6e6e6c; color: #000; padding: 0.13rem 2.13rem; margin-bottom: 0.5rem /* 8/16 */; margin-top: 0.07rem;}
.input-form1{height: 3.19rem; background: #f8f7f7;border: 1px solid #6e6e6c; color: #000; padding: 0.13rem 2.13rem; margin-bottom: 0.5rem /* 8/16 */; margin-top: 0.07rem;}
.campo-textarea{padding-top: 10px;height: 8rem}
.btn_formulario{/*position: absolute;*/bottom: 0;border-radius: 0;font-size: .75rem;color: #fff;background: #002953;font-weight: 700;cursor: pointer;font-family:"Lato Black";}
.orcamento-input .input-form{ padding: 0.13rem 1.013rem;}
.trabalhe_conosco b{font-size: .88rem; color: #000;}
/* CONTATO */
form.amp-form-submit-success [submit-success],
form.amp-form-submit-error [submit-error]{
  margin-top: 0.21rem;
}
form.amp-form-submit-success [submit-success] {
  color: green;
}
form.amp-form-submit-error [submit-error] {
  color: red;
}
form.amp-form-submit-success.hide-inputs > input {
  display: none;
}
/* CONTATO */
.btn_prod_solicitar_orcamento{background: #002953; color: #fff; display: block; width: 100%;}
.btn_prod_ligar{background: #b0001d; color: #fff; display: block; width: 100%;}
.input-lista-prod-orcamentos{background: #3356bf;color: #fff; width: 1.88rem ; height: 1.88rem ; text-align: center;}

.tabela-orcamento tbody tr td {
  border-top:  0;
  border-bottom: 1px solid #cecece;
  padding: 4px;
  font-size: .63rem;
}

.fa-times-circle:before {
  color: #474747
}

.fundo_contatos{
  background: url(../imgs/fundo_contatos.png)top 30px right no-repeat;
  width: 100%;
  height: 100%;
}

.tabela-orcamento tbody tr{
  border-bottom: 1px solid #002953;

}

.bg-index {
  background: url("./imgs/bg-index.jpg") top 2.69rem /* 43/16 */ center no-repeat;
  width: 100%;
}

.bg_home{
  background: url("./imgs/fundo_transparente.png") top center;
}

.font-index{
  margin-top: .63rem;
}

.mapa p{
  font-weight: 400;
  font-size: 1.06rem /* 17/16 */;
}

.font-index h1 {
  color: #fff;
  text-shadow: 0.01rem 0.01rem 0.03rem rgba(150, 150, 150, 1);
  font-size: .88rem;
  font-weight: 700;
  opacity: 1;
  text-align: center;
}

.font-index p{
  font-size: 1.06rem;
  color: #000;
  font-weight: 400;
}


.index-bg-icones {
  height: 100%;
  padding: 10px 10px 5px 5px;
  margin-bottom: 5px;
  background: url("./imgs/bg_menu_home.png")top center;
  width: 100%;
  border: 4px solid #f78436;
  border-radius: 10px;
  text-align: center;
}


.trabalhe_conosco .form-control-feedback{
  position: absolute;
  color: #000;
  top: 1.2rem;
  left: 0.63rem /* 10/16 */;
}

.curriculo input{
  padding-top: 0.88rem;
}
.trabalhe_conosco .curriculo b{top: 2px;left: 36px;position: absolute;}



.total-resultado-busca span,.total-resultado-busca h1{
  font-weight: 700;
  color: #083dad;
  font-size:16px;
}


.categorias_produtos .nav-link h4 {
  font-size: 14px;
font-family: 'Open Sans', sans-serif
}

.categorias_produtos .nav-link{
  padding: 0;
}


.btn_fechar {
  background: #083dad;
  font-weight: 700;
  font-size: 1.13rem;
  color: #fff;
  border-radius: 3.13rem;
  position: absolute;
  top: 22px;
  right: 9px;
  z-index: 99;
}

#my-lightbox a,#my-lightbox .fa-phone:before{
  color: #040404;
}

.bg_branco{
  background: #fff;
}



.menu_lateral{
  background: #fff;
  padding-top: 0;
}

.menu_lateral .list-group-item:first-child{
  margin-top: 0px;
}

.menu_lateral .list-group-item {
  background-color: #f78336;
  border: none;
  color: #252525;
  margin-top: 8px;
  padding: .44rem .5rem;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}

.menu_lateral .ativo{
  background-color: #e2cd2d;
  color: #fff;
  cursor: default;
}

.menu_lateral .list-group-item.active{
  z-index: 2;
  color: #fff;
  background-color: #f78336;
  font-weight: 700;
}

a.btn.disabled, fieldset[disabled] a.btn {
  pointer-events: none;
}

.menu_lateral .list-group-item:hover {
  z-index: 2;
  color: #252525;
  background-color: #fef922;
  font-weight: 400;
}

.btn_nao_encontrado{
  color: #000;
  background: #fef923;
}

.dicas_home .card {
    -webkit-box-shadow: 2px 2px 7px 0px rgba(25, 0, 0, 0.35);
    -moz-box-shadow: 2px 2px 7px 0px rgba(25, 0, 0, 0.35);
    box-shadow: 2px 2px 7px 0px rgba(25, 0, 0, 0.35);
    padding: .5rem;
}

.dicas_home p {
    font-size: .94rem /* 15/16 */;
    font-weight: 400;
    line-height: 22px;
}

.dicas_home .desc{
  height: 4.19rem /* 67/16 */;
  overflow: hidden;
}
.titulo_dentro h6{
font-size: 1.38rem /* 22/16 */;letter-spacing: 0;}

.cat_produtos_geral .card-body {
    position: absolute;
    top: 70%;
    width: 100%;
    padding: 0;
}

.cat_produtos_geral h2 {
    font-weight: 400;
    font-size: .94rem /* 15/16 */;
    letter-spacing: 0;
}

.produto_dentro h1 {
    color: #2a2a57;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.btn_produtos_orcamento {
    background: #fe0000;
    color: #fff;
    font-size: 1.25rem /* 20/16 */;
    font-weight: 700;
    padding: 20px 30px;
    margin-top: 1.13rem /* 18/16 */;
}

.produto_dentro h6 {
    color: #2a2a57;
    font-weight: 400;
    font-size: 1rem /* 16/16 */;
    line-height: 1.25rem /* 20/16 */;
    letter-spacing: 0;
}

.produto_dentro h6 span {
    font-size: 2.06rem /* 33/16 */;
    font-family: "Lato Black";
}

.titulo_produto h6 span {
    color: #FE0045;
    font-weight: 700;
}

.titulo_produto{
  margin-top: 20%;
  height: 200px;
}

.empresa_descricao p{
  font-size: 1.25rem /* 20/16 */;
  line-height: 1.88rem /* 30/16 */;
}
