.topo{ text-align: center;padding: 2px 0px 2px 0px;}
.rodape{background: #083dad; height: 40px; color: #fff; position: fixed; bottom: 0px;padding: 8px 0px 0px 0px; }
.rodape a{color: #FFF; text-decoration: none; font-size: .88rem /* 14/16 */;font-weight: 700;}
.separador-rodape{height: 3.13rem;}
.btn-topo{background: none; color: #083dad;}

.menu-mobile-principal{background: #083dad;}
.menu-mobile li{
    background: #fff;
    margin-bottom: 5px;
    padding: 10px;
}
.menu-mobile li a:visited, .menu-mobile li a{color: #001d33;font-size: 1rem;}
.bg_topo{background:#ffffff;height: 3.75rem /* 60/16 */;line-height: 4;}
